{{ define "main" }}

<div>
    {{ partial "page-title" (dict "title" .Title "subtitle" .Params.subtitle "page" .Params)}}

    {{ with .Content }}
        <section class="container mx-auto mt-12 px-2 md:px-8 pb-8 text-rl-gray content">
            {{ . }}
        </section>
    {{ end }}

    <section class="container mx-auto mt-12 px-2 md:px-8 pb-8 flex flex-col items-center">
        {{ range .Params.team }}
            {{ partial "side-card" (dict "thumbnail" .profile_img "title" .name "description" .description) }}        
        {{ end }}
        
        {{ partial "blockloader" . }}
    </section>

</div>

{{ end }}
